<div class="row row-cols-1 row-cols-md-2">
    <div *ngFor="let entrada of entradas">
        <div class="card my-2">
            <img [src]="entrada.imagen_entrada" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{entrada.nombre_entrada}}</h5>
                <p class="card-text"><b>Ingredientes:</b><br/>{{entrada.ingredientes_entrada}}</p>
                <h5 class="card-text">{{entrada.precio_entrada}}</h5>
            </div>
        </div>
    </div>
</div>