<div class="nosotros mt-4">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="./assets/img/chef.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><b>¿Quienes somos?</b></h5>
                    <p class="card-text ikira-justificar">Somos una empresa comprometidos con la innovación y calidad, ofrecemos productos originales y nutritivos con un toque japonés que nos identifica en cada uno de nuestras recetas.</p>
                    <p class="card-text ikira-justificar">Nuestro proyecto fue creado debido a la necesidad de satisfacer una gastronomia diferente.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"> <b>Misión</b></h5>
                    <p class="card-text ikira-justificar">Satisfacer las necesidades gastronómicas de todos nuestros clientes ofreciendo diferentes alternativas de comida asiática.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="./assets/img/mision.jpg" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="./assets/img/vision.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><b>Visión</b></h5>
                    <p class="card-text ikira-justificar">Ser el restaurante más reconocido de Bucaramanga  en el 2025, por brindar un menú agradable acompañados de las mejores experiencias gastronómicas memorables.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><b>Nuestros valores</b></h5>
                    <p class="card-text ikira-justificar"><b>Calidad:</b> cuidando cada proceso de preparación logrando la excelencia del producto.</p>
                    <p class="card-text ikira-justificar"><b>Compromiso:</b> cumplir con las expectativas de nuestros clientes.</p>
                    <p class="card-text ikira-justificar"><b>Calidad:</b> buscamos la continuidad de nuevas ideas.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="./assets/img/valores.png" class="img-fluid">
            </div>
        </div>
    </div>

</div>
