<h1>Actualizar Entradas </h1>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <p>Nombre entrada:</p>
        <input type="text" [(ngModel)]="EditarE.nombre_entrada" placeholder="Nombre Entrada" class="form-control">
        <p>Ingredientes:</p>
        <input type="text" [(ngModel)]="EditarE.ingredientes_entrada" placeholder="Ingredientes entrada" class="form-control">
        <p>Precio:</p>
        <input type="text" [(ngModel)]="EditarE.precio_entrada" placeholder="Precio Entrada" class="form-control">   
        <p>Imagen:</p>
        <input type="text" [(ngModel)]="EditarE.imagen_entrada" placeholder="Imagen Entrada" class="form-control">   
        <hr>
        <button (click)="Actualizar ()" class="btn btn-primary"><i class="fas fa-edit"></i> Actualizar</button> &nbsp;
        <button (click)="cancelar ()" class="btn btn-warning"><i class="fas fa-undoe"></i> Regresar</button>
    </div>
    <div class="col-sm-3"></div>

</div>
